@font-face
{
font-family: 'Raleway';
src: url('Raleway.ttf')
}
@font-face
{
font-family: 'RetroSignature';
src: url('RetroSignature.otf')
}

*
{
    font-family: Raleway;
}
body{
  background-color: #ffd8d021;
}
/* Header */
header img
{
   width: 550px;
}
#barre_acceuil
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
#navigation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin-top: 20%;
    font-size: 2.5em;
    flex-wrap: nowrap;
}
ul.nav_links {
  margin-top: 30px;
}
body
{
    margin-left:0;
}

a
{
    text-decoration: none;
    color: rgb(56, 7, 172);
    font-size: .6em;
}
a:hover
{
    text-decoration:  #4a07c5;
}
/* Section banniere */
#banniere , #carousel_photo
{
  background: url(images/floral-shadow-natural-beige-background.jpg) no-repeat center fixed ;
  background-size:cover;
  height: 550px;
  display: inline-block;
}
#banniere2 
{
  background: url(images/floral-shadow-natural-beige-background.jpg) no-repeat center fixed ;
  background-size:cover;
  height: 250px;
  display: inline-block;
}
h1
{
    font-size: 6em;
    font-family: RetroSignature;
    color: chocolate;
    margin-top: 100px;
    word-wrap: normal;
    margin-left: 20px;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.452);

  }
em
{
  
   
    font-style: italic;
    font-size: 1.9em;
    font-weight: 500;
    color: #CEA59C;
}
h2
{
    font-size: 7em;
    color: #CEA59C;
    text-decoration: underline 3px #E2C9BF;
    font-family: RetroSignature;
    line-height: 0.8;
}
p
{
    font-size: 2.1em;
    color:#707976;
    margin-bottom: 10%;
}
/* Section atelier */
#ateliers
{
    display: flex;
    flex-direction: row;
   width: 100%;
   flex-wrap: wrap;
   justify-content: space-between;
   overflow: hidden;
   height: 850px;
}
#ateliers_histoire
{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  
  margin-top: 0px;
}
#image_ateliers
{
    background-image:url("./images/photo_atelier.jpg");
    width: 30%;
    height: 650px;
    background-size: cover;
   box-shadow: -60px 50px 1px 1px #cea49b;
}
#image_cabinet
{
    background-image:url("./images/image_cabinet.jpg");
    width: 30%;
    height: 650px;
    background-size: cover;
   box-shadow: -60px 50px 1px 1px #cea49b;
   margin-top: 200px;
}
#image_histoire_2
{
    background-image:url("./images/photo-sophie-color.jpg");
    width: 30%;
    height: 650px;
    background-size: cover;
   box-shadow: -60px 50px 1px 1px #cea49b;
}
#image_allaitement
{
    background-image:url("./images/photo_allaitement.jpg");
    width: 30%;
    height: 650px;
    background-size:cover;
   
}
#image_diversification
{
    background-image:url("./images/photo_diversification.jpg");
    width: 30%;
    height: 650px;
    background-size: cover;
   box-shadow: -60px 50px 1px 1px #cea49b;
}
#image_massage
{
    background-image:url("./images/photo_massage.jpg");
    width: 30%;
    height: 650px;
    background-size: cover;
}
#image_sommeil
{
    background-image:url("./images/photo_sommeil.jpg");
    width: 30%;
    height: 650px;
    background-size: cover;
   box-shadow: -60px 50px 1px 1px #cea49b;
}
#image_reflexologie
{
  background-image:url("./images/photo_reflexologie.jpeg");
    width: 30%;
    height: 650px;
    background-size: cover;
    box-shadow: -60px 50px 1px 1px #cea49b;

}
#image_thalasso
{
  background-image:url("./images/image_thalasso.jpg");
    width: 30%;
    height: 650px;
    background-size: cover;

}
#image_empreintes
{
  background-image:url("./images/photo_empreintes.jpeg");
  width: 30%;
  height: 650px;
  background-size: cover;
}
#content_ateliers
{
    width: 30%;
    margin-top: 5%;   
   
}

.background_container
{
  background: #cea49b48;
  padding-top: 100px;
  margin-top: 0%;
}
.first_container
{
  margin-top : 10%;
}
/* section footer */
footer{
  margin-top: 2%;
  background: url(images/floral-shadow-natural-beige-background.jpg) no-repeat center fixed ;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #956557;
  font-family: arial ;
}
h4{
  font-size: 3em;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 9.1rem;
  text-transform: capitalize;
  line-height: 6rem;
  font-family: RetroSignature;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #ffffff;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 5rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 18px;
  border-radius: 50%;
}

.socials a i{
  font-size: 2.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: #965657;
}
.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
 color:#8d8d8d;
 font-size: 16px;
 text-decoration: none;
}
.footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
}
.footer-menu{
  float: right;
}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: #956557;
}
@media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  }
/*section testimonial */

#testimonial4{
    overflow: hidden;
    min-height: 420px;
    position: relative;
    background: url(images/floral-shadow-natural-beige-background.jpg) no-repeat center fixed ;
  }
  #testimonial4 .carousel-inner{
    width: 75%;
    margin: auto;
  }
  #testimonial4 .carousel-inner:hover{
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  #testimonial4 .carousel-inner:active{
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  #testimonial4 .carousel-inner .item{
    overflow: hidden;
  }
  
  .testimonial4_indicators .carousel-indicators{
    left: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    height: 20px;
    bottom: 15px;
    padding: 0 5px;
    cursor: e-resize;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    white-space: nowrap;
  }
  .testimonial4_indicators .carousel-indicators li{
    padding: 0;
    width: 10px;
    height: 10px;
    border: none;
    text-indent: 0;
    margin: 2px 3px;
    cursor: pointer;
    display: inline-block;
    background: #ffffff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }
  .testimonial4_indicators .carousel-indicators .active{
    padding: 0;
    width: 10px;
    height: 10px;
    border: none;
    margin: 2px 3px;
    background-color: rgb(206, 107, 15);
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }
  .testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
    height: 3px;
  }
  .testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
    background: #eeeeee;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  #testimonial4
  {
    margin-left: 0px;
    margin-right: 0px;
  }
  .testimonial4_control_button .carousel-control{
    top: 175px;
    opacity: 1;
    width: 40px;
    bottom: auto;
    height: 40px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    line-height: 38px;
    text-shadow: none;
    text-align: center;
    position: absolute;
    background: transparent;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
    transition: all 0.6s cubic-bezier(0.3,1,0,1);
  }
  .testimonial4_control_button .carousel-control.left{
    left: 7%;
    right: auto;
  }
  .testimonial4_control_button .carousel-control.right{
    right: 7%;
    left: auto;
  }
  .testimonial4_control_button .carousel-control.left:hover,
  .testimonial4_control_button .carousel-control.right:hover{
    color: #000;
    background: #fff;
    border: 2px solid #fff;
  }
  .testimonial4_header{
    top: 0;
    left: 0;
    bottom: 0;
    width: 950px;
    display: block;
    margin: 30px auto;
    text-align: center;
    position: relative;
  }
  .testimonial4_header h4{
    color: #956557;
    font-size: 95px;
    font-weight: 500;
    position: relative;
    letter-spacing: 0px;
    font-family: Retrosignature;
  }
  
  .testimonial4_slide{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    margin: auto;
    padding: 20px;
    position: relative;
    text-align: center;
  }
  .testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
  }
  
  .testimonial4_slide p {
    color: #ffffff;
    font-size: 26px;
    margin: 40px 0 20px 0;
  }
  
  .testimonial4_slide h4 {
    color: #ffffff;
    font-size: 54px;
    font-family: RetroSignature;
  }
  
  
  @media only screen and (max-width: 480px){
    .testimonial4_control_button .carousel-control{
      display: none;
    }
    .testimonial4_header{
      width: 95%;
    }
    .testimonial4_header h4{
      font-size: 60px;
    }
    .testimonial4_slide{
      width: 98%;
      padding: 5px;
    }
    #testimonial4{
      min-height: 520px;
    }
  }
  
  @media (min-width: 481px) and (max-width: 767px){
    .testimonial4_control_button .carousel-control.left{
      left: 2%;
    }
    .testimonial4_control_button .carousel-control.right{
      right: 2%;
    }
    .testimonial4_header{
      width: 95%;
    }
    .testimonial4_slide{
      width: 98%;
      padding: 5px;
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 991px){
    .testimonial4_control_button .carousel-control.left{
      left: 5%;
    }
    .testimonial4_control_button .carousel-control.right{
      right: 5%;
    }
  }
  
  @-webkit-keyframes psBoxShadowEffect_2{
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;
      -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
      -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
      -webkit-transform: scale(1.5);
      opacity: 0;
    }
  }
  @keyframes psBoxShadowEffect_2{
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
      transform: scale(1.5);
      opacity: 0;
    }
  }
  

/* Bouttons */
#buttons
{
    color: #CEA59C;
    font-size: 1.52em;
    border: 1px  solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    border-radius: 10px;
    transition: all 0.6s ease 0s;
}
#buttons:hover{
  color: #a52f15;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}
/* page contact */
.list-unstyled
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list
{
  height: 250px;
}
/* test navbar */
nav
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 2%;
}
li, a, button
{
font-weight: 550;
font-size: 20px;
color: #AAB5B2;
text-decoration: none;
}
header
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.logo
{
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}

.nav_links
{
    list-style: none;
}
.nav_links li
{
    display:inline-block ;
    padding:0px 20px ;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}.nav_links li a:hover {
    color: #CEA59C;
}
button
{
    padding : 9px 25px;
    background-color: #CEA59C;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 1s ease 0s;
}
button:hover
{
    background-color: rgb(25, 136, 90);

}
/* Responsive tablette */

@media only screen

and (min-width: 500px)

and (max-width: 800px)

{
#ateliers , #ateliers_histoire
{
  display: flex;
  flex-direction: column-reverse;
}
#image_ateliers
{
    background-image:url("./images/bébé_01.jpg");
    width: 80%;
    height: 600px;
    background-size: cover; 
    margin-left: 10%;
    margin-right: 10%;    
}
#content_ateliers
{
    width: 80%;
    margin-top: 5%;   
    margin-bottom: 20%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
}
@media only screen

and (min-width: 300px)

and (max-width: 500px)

{
header img
{
  width: 80%;
}
.logo
{
  margin-left: 10%;
  margin-right: 0px;
}
li, a, button
{
  font-size: 30px;
}
#ateliers , #ateliers_histoire
{
  height: auto;
  display: block;
}
#content_ateliers
{
    width: 80%;
    margin-top: 5%;   
    margin-bottom: 20%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
#image_histoire , #image_cabinet , #image_ateliers, #image_ateliers, #image_diversification, #image_massage , #image_sommeil , #image_allaitement , #image_empreintes , #image_reflexologie , #image_thalasso
{
  width: 80%;
  height: 350px;
  margin-left: 10%;
  box-shadow: -15px 20px 1px 1px #cea49b;
}
#image_diversification
{
  margin-bottom: 10%;
}
div#testimonial4 {
  margin-top: 10%;
}
h2 
{
  text-align: center;
}
}